
<!DOCTYPE html>
<html ng-app="appControllers">
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/angular/angular.js"></script>
    <script src="/javascripts/lib/angular/angular-route.js"></script>
   <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </head>
  <body ng-controller="GithubController">
    <p><%= user %></p>
      <input type="text"  ng-model="searchTerm" required /> <br/>
      <button type="submit" ng-click="findUser()" ng-disabled="!searchTerm">Find</button>
      <p>data is {{data}} </p>
  </body>
</html>
