<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/results" method="post">
      <input type="text" pattern="^\d{5}$" name="zipCode" required />
      <input type="submit" value="search" />
    </form>
  </body>
</html>
