<!DOCTYPE html>
<html>
  <head>
    <title>Weather Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Weather for zip code <%= zipCode %></h1>
    <% if(data) { %>
    <p>Overall Weather : <%= data.overallWeatherText %></p>
    <p>Temperature (in celcius): <%= data.temperature %></p>
    <p> Wind (in kph): <%= data.windSpeed %></p>
    <% } %>
  </body>
</html>
